/* Styles for the entire body */
body {
  font-family: 'Times New Roman', Times, serif; /* Set font family */
  background-color: #589499; /* Set background color */
  color: #2a2828; /* Set text color */
}

/* Styles for the main container */
.App {
  max-width: 400px; /* Set maximum width */
  margin: 200px auto; /* Center vertically and horizontally */
  padding: 20px; /* Add padding */
  border: 1px solid #1b0303; /* Add border */
  border-radius: 40px; /* Round the corners */
  background-color: #a18233; /* Set background color */
}

/* Styles for the heading */
h1 {
  text-align: center; /* Center align */
  margin-bottom: 20px; /* Add margin at the bottom */
}